extends layout

block content

  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Deseas saber como lo hacemos suscribete.

        // register form
        form(method='POST' action='/form' name='form1')
          input(type='hidden', name='codapi' value='p42jaefpoa2oiw2hcq4rm5')
          div.form-group
          label(for='Correo') Nombre:
          input(type='correo', placeholder='Nombre' name='nombre')
          label(for='Correo') Apellido:
          input(type='correo', placeholder='Apellido' name='apellido')
            label(for='Correo') Correo:
            input(type='correo', placeholder='name@email.com' name='correo')
          button.btn.btn-primary(type='submit') suscribete
